
#flipbook {
    margin-top: -40px;
    width: 80%;
    height: 560px;
    left: 10%;
}

#flipbook .page {
    width: 80%;
    height: 500px;  
}

#flipbook img {
    height: 560px;
    width: 100%;
    max-width: 520px;
    border: 1px inset grey;   
}

 @media screen and (max-width: 768px) {
    #flipbook {
        margin-top: 0;
        width: 90%;
        left: 20px;
        height: 500px;
    }
 }
