* {
    box-sizing: border-box;
    outline: none
}

#flipbook {
    margin-top: -40px;
    width: 80%;
    height: 600px;
    left: 10%;
}

#flipbook .page {
    width: 80%;
    height: 600px;  
}


#flipbook img {
    height: 600px;
    width: 100%;
    max-width: 520px;
    border: 1px inset grey;    
    border-radius: 1px; /* Opcional: bordes redondeados */
}

 @media screen and (max-width: 768px) {
    #flipbook {
        margin-top: 0;
        width: 90%;
        left: 25px;
    }
 }
