.back-arrow {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    animation: move-left-right 2s ease-in-out infinite;
}

.arrow-text {
    margin-right: 10px;
}

.back-arrow i {
    font-size: 24px;
}

.back-arrow:hover {
    transform: translateX(-10px);
    background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 768px) {
    .model_text .row {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        position: relative;
    }

    .breadcrumb {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        margin: 12px;
        padding: 0;
        text-align: left;
        /* margin-left: 50px; */
    }

    .breadcrumb li {
        display: inline-block;
        margin: 0;
    }

    .breadcrumb li::before {
        content: " / ";
        margin: 0 5px;
    }

    .breadcrumb li:first-child::before {
        display: none;
    }

    .breadcrumb li a {
        font-size: 12px;
        text-decoration: none;
        color: inherit;
    }

    .back-arrow {
        font-size: 16px;
        padding: 2px 12px;
        background-color: rgba(0, 0, 0, 0.7);
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
    }

    .arrow-text {
        display: none;
    }

    .back-arrow i {
        font-size: 20px;
    }

    .col-md-4.text-right {
        text-align: left;
        flex-shrink: 0;
    }
}

@media (max-width: 576px) {
    .breadcrumb li a {
        font-size: 10px;
    }
}

@media (max-width: 400px) {
    .breadcrumb li a {
        font-size: 8px;
    }
}


.impresion {
    color: #6768ad;
    /* Color de impresión */
}

.vallas {
    color: #00bff2;
    /* Color de vallas */
}

.fachada {
    color: #e73a2f;
    /* Color de fachada */
}

.pventa {
    color: #2eab5a;
    /* Color de punto de venta */
}

.cerramiento {
    color: #f79847;
    /* Color de cerramiento */
}

.vehicular {
    color: #5cc6d0;
    /* Color de decoración vehicular */
}

.banderas {
    color: #b06095;
    /* Color de banderas */
}

.inflable {
    color: #dbbd60;
    /* Color de inflables */
}

.señalizacion {
    color: #b8b9bb;
    /* Color de señalización */
}

.exportatil {
    color: #927181;
    /* Color de exhibición portátil */
}

.alquiler {
    color: #859b43;
    /* Color de alquiler */
}

.cyglaser {
    color: #f05768;
    /* Color de corte y grabado láser */
}

.audiovisual {
    color: #876141;
    /* Color de audiovisual */
}

.obra {
    color: #ac4a9c;
    /* Color de mano de obra */
}