.btn-hover {
    display: flex;
    align-items: center;
    font-size: 12px;
    border: none;
    width: 170px;
    height: 55px;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    transition: all 0.16s;
    position: relative;
    margin: 10px;
    overflow: hidden;
}

.btn-hover::before {
    content: '';
    height: 4px;
    position: absolute;
    top: 0; 
    left: 3%; 
    right: 3%; 
    background: rgba(255, 255, 255, 0.1);
    border-radius: 25px 25px 0 0;
    z-index: 1;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-1 {
    background: #6768ad;
    box-shadow:
        0px 10px 0px 0px #4f4f8f,
        3px 10px 5px 5px #7572727e; 
}

.btn-hover.color-1:hover {
    background: #6768ad;
    box-shadow:
        0px 5px 0px 0px #4f4f8f,
        3px 10px 5px 5px #7572727e; 
    top: 5px;
}

.btn-hover.color-2 {
    background: #00bff2;
    box-shadow:
        0px 10px 0px 0px #0098c8,
        3px 10px 5px 5px #7572727e; 
}

.btn-hover.color-2:hover {
    background: #00bff2;
    /* Color más oscuro en hover */
    box-shadow:
        0px 5px 0px 0px #0098c8,
        3px 10px 5px 5px #7572727e; 
    top: 5px;
}


.btn-hover.color-3 {
    background: #e73a2f;
    box-shadow:
        0px 10px 0px 0px #b8252a,
        3px 10px 5px 5px #7572727e; 
}

.btn-hover.color-3:hover {
    background: #e73a2f;
    box-shadow:
        0px 5px 0px 0px #B8252A,
        3px 10px 5px 5px #7572727e; 
    top: 5px;
}

.btn-hover.color-4 {
    background: #2eab5a;
    box-shadow:
        0px 10px 0px 0px #249a4a,
        3px 10px 5px 5px #7572727e; 
}

.btn-hover.color-4:hover {
    background: #2eab5a;
    box-shadow:
        0px 5px 0px 0px #249a4a,
        3px 10px 5px 5px #7572727e; 
    top: 5px;
}

.btn-hover.color-5 {
    background: #f79847;
    box-shadow:
        0px 10px 0px 0px #c47b32,
        3px 10px 5px 5px #7572727e; 
}

.btn-hover.color-5:hover {
    background: #f79847;
    box-shadow:
        0px 5px 0px 0px #C47B32,
        3px 10px 5px 5px #7572727e; 
    top: 5px;
}

.btn-hover.color-6 {
    background: #5cc6d0;
    box-shadow:
        0px 10px 0px 0px #4698a0,
        3px 10px 5px 5px #7572727e; 
}

.btn-hover.color-6:hover {
    background: #5cc6d0;
    box-shadow:
        0px 5px 0px 0px #4698A0,
        3px 10px 5px 5px #7572727e; 
    top: 5px;
}

.btn-hover.color-7 {
    background: #b06095;
    box-shadow:
        0px 10px 0px 0px #86496d,
        3px 10px 5px 5px #7572727e; 
}

.btn-hover.color-7:hover {
    background: #b06095;
    box-shadow:
        0px 5px 0px 0px #86496D,
        3px 10px 5px 5px #7572727e; 
    top: 5px;
}

.btn-hover.color-8 {
    background: #dbbd60;
    box-shadow:
        0px 10px 0px 0px #a18140,
        3px 10px 5px 5px #7572727e; 
}

.btn-hover.color-8:hover {
    background: #dbbd60;
    box-shadow:
        0px 5px 0px 0px #A18140,
        3px 10px 5px 5px #7572727e; 
    top: 5px;
}

.btn-hover.color-9 {
    background: #b8b9bb;
    box-shadow:
        0px 10px 0px 0px #828486,
        3px 10px 5px 5px #727272; 
}

.btn-hover.color-9:hover {
    background: #b8b9bb;
    box-shadow:
        0px 5px 0px 0px #828486,
        3px 10px 5px 5px #7572727e; 
    top: 5px;
}

.btn-hover.color-10 {
    background: #927181;
    box-shadow:
        0px 10px 0px 0px #7a5b6a,
        3px 10px 5px 5px #7572727e; 
}

.btn-hover.color-10:hover {
    background: #927181;
    box-shadow:
        0px 5px 0px 0px #7a5b6a,
        3px 10px 5px 5px #7572727e; 
    top: 5px;
}

.btn-hover.color-11 {
    background: #b5d559;
    box-shadow:
        0px 10px 0px 0px #87a041,
        3px 10px 5px 5px #7572727e; 
}

.btn-hover.color-11:hover {
    background: #b5d559;
    box-shadow:
        0px 5px 0px 0px #87A041,
        3px 10px 5px 5px #7572727e; 
    top: 5px;
}

.btn-hover.color-12 {
    background: #f05768;
    box-shadow:
        0px 10px 0px 0px #b43f48,
        3px 10px 5px 5px #7572727e; 
}

.btn-hover.color-12:hover {
    background: #f05768;
    box-shadow:
        0px 5px 0px 0px #B43F48,
        3px 10px 5px 5px #7572727e; 
    top: 5px;
}

.btn-hover.color-13 {
    background: #876141;
    box-shadow:
        0px 10px 0px 0px #5f462d,
        3px 10px 5px 5px #7572727e; 
}

.btn-hover.color-13:hover {
    background: #876141;
    box-shadow:
        0px 5px 0px 0px #5f462d,
        3px 10px 5px 5px #7572727e; 
    top: 5px;
}

.btn-hover.color-14 {
    background: #ac4a9c;
    box-shadow:
        0px 10px 0px 0px #7a326e,
        3px 10px 5px 5px #7572727e; 
}

.btn-hover.color-14:hover {
    background: #ac4a9c;
    box-shadow:
        0px 5px 0px 0px #7a326e,
        3px 10px 5px 5px #7572727e; 
    top: 5px;
}

.circle {
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.icon {
    width: 20px;
    height: 20px;
}

.span {
    flex-grow: 1;
    text-align: center;
}

/* Media query para responsive */
@media (max-width: 768px) {
    .btn-hover {
        width: 100%;
        height: 45px;
        font-size: 13px;
        margin: 5px 0px 15px;
    }

    .circle {
        width: 25px;
        height: 25px;
    }

    .icon {
        width: 18px;
        height: 18px;
    }

    .buttons .col-4 {
        flex: 0 1 calc(50% - 10px);
        margin: 5px;
    }
}


/* BOTON DE GRADIENT  */


.blog-slider__button {
    display: inline-flex;
    background-color: #F8F8F0;
    padding: 15px 35px;
    color: #000007;
    text-decoration: none;
    justify-content: center;
    margin-top: 30px;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
  
    border: none;
  
    --timing: linear;
    border-image-source: conic-gradient(from var(--a), #FFCC29, #AF2040, #E9258C, #009ACC, #00A659);
    border-image-slice: 1;
    border-image-width: 0.4rem;
    animation: move 3s infinite var(--timing);
  }
  
  @keyframes move {
    from {
      --a: 0deg;
    }
  
    to {
      --a: 360deg;
    }
  }
  
  @property --a {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0deg;
  }
  
  @keyframes borderAnimation {
    0% {
      transform: translate(-5px, -5px);
    }
  
    25% {
      transform: translate(5px, -5px);
    }
  
    50% {
      transform: translate(5px, 5px);
    }
  
    75% {
      transform: translate(-5px, 5px);
    }
  
    100% {
      transform: translate(-5px, -5px);
    }
  }