.slider {
  height: 15cm;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  margin: auto;
  padding: 0 0 20px 0;
  background: white;
  box-shadow: 15px 15px 5px #7572727e, 0px 14px 80px rgba(34, 35, 58, 0.2);
  align-items: flex-end;
  justify-content: center;
  animation: move-border 2s infinite alternate;
  --timing: linear;
  border-image-source: conic-gradient(from var(--a), #FFCC29, #AF2040, #E9258C, #009ACC, #00A659);
  border-image-slice: 1;
  border-image-width: 0.4rem;
  animation: move 6s infinite var(--timing);
}

@keyframes move {
  from {
    --a: 0deg;
  }

  to {
    --a: 360deg;
  }
}

@property --a {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}

@keyframes move-border {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(5px, 5px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@media (max-width: 768px) {
  .slider {
    height: 10cm;
  }

  .slider__caption {
    font-size: 30px !important;
  }
}


@media (max-width: 768px) {
  .slider {
    height: 10cm;
  }

  .slider__caption {
    font-size: 30px !important;
  }


}

.slider__nav {
  width: 12px;
  height: 12px;
  margin: 2rem 12px;
  bottom: 10px;
  border-radius: 50%;
  z-index: 5;
  outline: 6px solid #b3b3b3;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  appearance: none;
  backface-visibility: hidden;
}

.slider__nav:checked {
  animation: check 0.4s linear forwards;
}

.slider__nav:checked:nth-of-type(1)~.slider__inner {
  left: 0%;
}

.slider__nav:checked:nth-of-type(2)~.slider__inner {
  left: -100%;
}

.slider__nav:checked:nth-of-type(3)~.slider__inner {
  left: -200%;
}

.slider__nav:checked:nth-of-type(4)~.slider__inner {
  left: -300%;
}

.slider__nav:checked:nth-of-type(5)~.slider__inner {
  left: -400%;
}

.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 500%;
  height: 100%;
  transition: left 0.4s;
  display: flex;
}

.slider__contents {
  width: 20%;
  height: 100%;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.slider__image {
  width: 99%;
  height: 98%;
  object-fit: cover;
  position: absolute;
  margin: auto;
  margin-top: 6px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 20;
  z-index: 0;
  opacity: 80%;

}

.slider__image-map {
  width: 20cm;
  height: 14cm;
  z-index: 0;
 /*  object-fit: cover; */
  position: absolute;
  margin: auto;
  margin-top: 6px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 20;
  opacity: 80%;

}


.slider__button {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  color: rgb(13, 9, 37);
  z-index: 1;
}

.slider__caption {
  color: rgb(13, 9, 37);
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  margin: 2rem 0 1rem;
  text-shadow: 0 1px 1px rgb(13, 9, 37);
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  border: 1px solid rgb(13, 9, 37);
  padding: 2px 4px 2px 4px;
  font-size: 80px;
  line-height: 1;
  /* Ajusta este valor según lo que necesites */
}

.slider__button--2 span {
  position: absolute;
  display: block;
}

#span1 {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  /* Primer color */
}

.slider__button--2:hover #span1 {
  left: 100%;
  transition: 1s;
}

#span3 {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #E9258C);
  /* Segundo color */
}

.slider__button--2:hover #span3 {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

#span2 {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #009ACC);
  /* Tercer color */
}

.slider__button--2:hover #span2 {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

#span4 {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #00A659);
  /* Cuarto color */
}

.slider__button--2:hover #span4 {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}





.slider__txt {
  color: #999;
  margin-bottom: 3rem;
  max-width: 300px;
  position: relative;
  z-index: 1;
}





/* Estilos para el primer carousel - infinito */
.slider-main {
  height: 400px;
  width: 85%;
  position: relative;
  overflow: hidden;
  display: flex;
  margin: auto;
  padding: 10px 10px;
  border: 1px solid black;
  background: linear-gradient(to bottom right,
      rgb(200, 200, 200),
      rgb(240, 240, 240),
      rgb(255, 255, 255));
  box-shadow: 4px 10px 25px 0 #AAAAAA;
  border-radius: 5px;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: center;
}







/* Estilos para el segundo carousel (infinito) */

.slide img {
  margin: 0 10px;
  /* Ajusta el valor según el espacio deseado */
}

.slider-infinite {
  overflow: hidden;
  position: relative;
  margin: auto;
  margin-top: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
  width: 100%;
  opacity: 50%;
}


.slider-infinite-title {
  display: flex;
  position: relative;
  align-items: center;
  margin-top: 8%;
  margin-bottom: 40px;
  font-family: 'Bebas Neue', sans-serif;  
}

@media screen (max-widht: 768px) {
  .slider-infinite-title {
    font-family: 'Bebas Neue', sans-serif;  
  }
}

.slider-infinite-title h1 {
  font-size: 60px;
  font-weight: 900;
  margin: 0 20px;
  font-family: 'Bebas Neue', sans-serif;  
  /* font-family: 'Pacifico', cursive; */
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000;
  text-shadow:
    0 0 5px rgba(0, 0, 0, 0.288),
    0 0 15px rgba(0, 0, 0, 0.6),
    0 0 20px rgba(0, 0, 0, 0.356);


}

.slider-infinite-title::before {
  content: '';
  width: 100%;
  left: -100px;
  /* flex: 1; */
  height: 5px;
  position: relative;
  border-radius: 10px;
  background: linear-gradient(90deg, #FFCC29, #AF2040, #E9258C, #009ACC, #00A659);
}

.slider-infinite-title::after {
  content: '';
  width: 100%;
  right: -100px;
  /* flex: 1; */
  height: 5px;
  position: relative;
  border-radius: 10px;
  background: linear-gradient(90deg, #FFCC29, #AF2040, #E9258C, #009ACC, #00A659);
  margin: 0;
  /* Eliminado el margen lateral */
}



.slide-track {
  display: flex;
  animation: scroll 10s linear infinite;
}

.slide {
  flex: 0 0 auto;
  height: 100%;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .slide {
    min-width: 150px;
  }
}



@media (max-width: 768px) {
  .slider-infinite-title {
    margin-top: 50px;
  }
}


@media (max-width: 480px) {
  .slide {
    min-width: 120px;
  }
}

@media (max-width: 768px) {
  .scroll-container {
    animation: scroll 5s linear infinite;
    /* Ajusta la duración o el comportamiento en pantallas pequeñas */
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-112%);
  }
}