.main-wrapper {
	border-radius: 5px;
	background-color: white;
	padding: 20px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	position: relative;
	text-align: center;
	font-family: "Monserrat", sans-serif;
	/* left: -6px; */
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #7f8c8d;
    color: #fff !important;
	font-weight: bold !important;
    font-size: 1em;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 10px !important;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0px 3px 0px #373c3c;
    transition: all 0.3s ease;
}

.button img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.button[data-filter=".construccion"] {
    background-color: #247fe7;
    box-shadow: 0px 3px 0px #1a5bb0;
}

.button[data-filter=".gubernamental"] {
    background-color: #be3bf7;
    box-shadow: 0px 3px 0px #8a2bb5;
}

.button[data-filter=".publicitario"] {
    background-color: #e3c400;
    box-shadow: 0px 3px 0px #b59d00;
}

.button[data-filter=".bancario"] {
    background-color: #00c3bc;
    box-shadow: 0px 3px 0px #009c97;
}

.button[data-filter=".educativo"] {
    background-color: #ca6c00;
    box-shadow: 0px 3px 0px #9a5200;
}

.button:hover {
    box-shadow: 0px 0px 0px;
    transform: translateY(3px);
}

@media (max-width: 768px) {
    .button {
        width: 100%;
        margin: 5px 0;
    }
}


/* Estilos para el tooltip */
.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  width: 150px;
  font-family: "Monserrat", sans-serif;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -75px;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
}

.impresion {
	box-shadow: 0 0 12px 2px #6768ad;
}
.vallas {
	box-shadow: 0 0 12px 2px #00bff2;
}
.fachada {
	box-shadow: 0 0 12px 2px #e73a2f;
}
.pventa {
	box-shadow: 0 0 12px 2px #2eab5a;
}
.cerramiento {
	box-shadow: 0 0 12px 2px #f79847;
}
.vehicular {
	box-shadow: 0 0 12px 2px #5cc6d0;
}
.banderas {
	box-shadow: 0 0 12px 2px #b06095;
}
.inflable {
	box-shadow: 0 0 12px 2px #dbbd60;
}
.señalizacion {
	box-shadow: 0 0 12px 2px #99a3a4;
}
.exportatil {
	box-shadow: 0 0 12px 2px #927181;
}
.alquiler {
	box-shadow: 0 0 12px 2px #b5d559;
}
.cyglaser {
	box-shadow: 0 0 12px 2px #f05768;
}
.audiovisual {
	box-shadow: 0 0 12px 2px #876141;
}
.obra {
	box-shadow: 0 0 12px 2px #ac4a9c;
}


.bg1 {
	background-color: #6768ad;
}

.cl1 {
	color: #6768ad;
}

.bg2 {
	background-color: #00bff2;
}

.cl2 {
	color: #00bff2;
}

.bg3 {
	background-color: #e73a2f;
}

.cl3 {
	color: #e73a2f;
}

.bg4 {
	background-color: #2eab5a;
}

.cl4 {
	color: #2eab5a;
}

.bg5 {
	background-color: #f79847;
}

.cl5 {
	color: #f79847;
}

.bg6 {
	background-color: #5cc6d0;
}

.cl6 {
	color: #5cc6d0;
}

.bg7 {
	background-color: #b06095;
}

.cl7 {
	color: #b06095;
}
 
.bg8 {
	background-color: #dbbd60;
}

.cl8 {
	color: #dbbd60;
}

.bg9 {
	background-color: #b8b9bb;
}

.cl9 {
	color: #b8b9bb;
}

.bg10 {
	background-color: #927181;
}

.cl10 {
	color: #927181;
}

.bg11 {
	background-color: #b5d559;
}

.cl11 {
	color: #b5d559;
}

.bg12 {
	background-color: #f05768;
}

.cl12 {
	color: #f05768;
}

.bg13 {
	background-color: #876141;
}

.cl13 {
	color: #876141;
}

.bg14 {
	background-color: #ac4a9c;
}

.cl14 {
	color: #ac4a9c;
}


/* colores adicionales */

.construccion {
	box-shadow: 0 0 15px 0 #005fce;
}
.gubernamental {
	box-shadow: 0 0 15px 0 #7f18aa;
}
.publicitario {
	box-shadow: 0 0 15px 0 #e3c400;
}
.bancario {
	box-shadow: 0 0 15px 0 #00c3bc;
}
.educativo {
	box-shadow: 0 0 15px 0 #ca6c00;
}