.main-wrapper {
	border-radius: 5px;
	background-color: white;
	padding: 20px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	position: relative;
	text-align: center;
	font-family: "Monserrat", sans-serif;
	/* left: -6px; */
}

.button {
	width: 60px;
	border-radius: 50%;
	padding: 0;
}

img.material-icons {
	width: 60px;
	position: relative;
	border-radius: 50%;
	padding: 5px;
	margin: 3px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
}

img.material-icons:after {
	content: "";
	width: 100%;
	height: 100%;
	border: solid 2px;
	transform: scale(0.8);
	position: absolute;
	top: -2px;
	left: -2px;
	border-radius: 50%;
	transition: all 0.3s ease;

}

img.material-icons:hover:after {
	transform: scale(1);
	box-shadow: 10px 0 20px rgba(0, 0, 0, 0.19), 6px 0 6px rgba(0, 0, 0, 0.23);
}

img.material-icons:hover {
	background-color: transparent;
	transform: rotate(90deg);
	cursor: pointer;
	box-shadow: none;
}

p {
	color: #999;
	font-weight: 300;
	margin-top: 20px;
}

@media (min-width:601px) {
	i.material-icons {
		padding: 10px;
		margin: 5px;
		font-size: 2rem;
	}
}

@media (min-width:993px) {
	i.material-icons {
		padding: 20px;
		margin: 10px;
		font-size: 4rem;
	}

	i.material-icons:after {
		border-width: 3px;
		top: -3px;
		left: -3px;
	}
}


/* Estilos para el tooltip */
.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  width: 150px;
  font-family: "Monserrat", sans-serif;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -75px;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
}

.impresion {
	box-shadow: 0 0 12px 2px #6768ad;
}
.vallas {
	box-shadow: 0 0 12px 2px #00bff2;
}
.fachada {
	box-shadow: 0 0 12px 2px #e73a2f;
}
.pventa {
	box-shadow: 0 0 12px 2px #2eab5a;
}
.cerramiento {
	box-shadow: 0 0 12px 2px #f79847;
}
.vehicular {
	box-shadow: 0 0 12px 2px #5cc6d0;
}
.banderas {
	box-shadow: 0 0 12px 2px #b06095;
}
.inflable {
	box-shadow: 0 0 12px 2px #dbbd60;
}
.señalizacion {
	box-shadow: 0 0 12px 2px #99a3a4;
}
.exportatil {
	box-shadow: 0 0 12px 2px #927181;
}
.alquiler {
	box-shadow: 0 0 12px 2px #b5d559;
}
.cyglaser {
	box-shadow: 0 0 12px 2px #f05768;
}
.audiovisual {
	box-shadow: 0 0 12px 2px #876141;
}
.obra {
	box-shadow: 0 0 12px 2px #ac4a9c;
}


.bg1 {
	background-color: #6768ad;
}

.cl1 {
	color: #6768ad;
}

.bg2 {
	background-color: #00bff2;
}

.cl2 {
	color: #00bff2;
}

.bg3 {
	background-color: #e73a2f;
}

.cl3 {
	color: #e73a2f;
}

.bg4 {
	background-color: #2eab5a;
}

.cl4 {
	color: #2eab5a;
}

.bg5 {
	background-color: #f79847;
}

.cl5 {
	color: #f79847;
}

.bg6 {
	background-color: #5cc6d0;
}

.cl6 {
	color: #5cc6d0;
}

.bg7 {
	background-color: #b06095;
}

.cl7 {
	color: #b06095;
}
 
.bg8 {
	background-color: #dbbd60;
}

.cl8 {
	color: #dbbd60;
}

.bg9 {
	background-color: #b8b9bb;
}

.cl9 {
	color: #b8b9bb;
}

.bg10 {
	background-color: #927181;
}

.cl10 {
	color: #927181;
}

.bg11 {
	background-color: #b5d559;
}

.cl11 {
	color: #b5d559;
}

.bg12 {
	background-color: #f05768;
}

.cl12 {
	color: #f05768;
}

.bg13 {
	background-color: #876141;
}

.cl13 {
	color: #876141;
}

.bg14 {
	background-color: #ac4a9c;
}

.cl14 {
	color: #ac4a9c;
}


/* colores adicionales */

.construccion {
	box-shadow: 0 0 15px 0 #005fce;
}
.gubernamental {
	box-shadow: 0 0 15px 0 #7f18aa;
}
.publicitario {
	box-shadow: 0 0 15px 0 #e3c400;
}
.bancario {
	box-shadow: 0 0 15px 0 #00c3bc;
}
.educativo {
	box-shadow: 0 0 15px 0 #ca6c00;
}