/*
Author: Xpeedstudio
Author URI: http://xpeedstudio.com
*/

/*==========================================
 01.  PREDIFINEED (FROM 1 TO 780 )
 02.  PRELOADER - LINE NO 786
 03.  NAVIGATION - LINE NO 930
 04.  HOME - LINE NO 1150
 05.  THU FEATURE - LINE NO 1280
 06.  THU FLIDE - LINE NO 1355
 07.  THU SERVICE - LINE NO 1385
 08.  PORTFOLIO - LINE NO 1444
 09.  THU SOLUTION - LINE NO 1620
 10.  THU TEAM - LINE NO 1658
 11.  THU CLIENTS FEEDBACK - LINE NO 1730
 12. THU BLOG - LINE NO 1848
 13. THU SUBCRIBS - LINE NO 1935
 14. FOOTER - LINE NO 2020
==========================================*/


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html,
body {
    /* background-color: #e3e3e3; */

    /* AZUL SUAVE */
    /* background-color: #ADFFFA;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23a6fdff' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%239ff4ff' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%2399eaff' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%2392dfff' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%238BD3FF' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23a2dcff' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23b9e5ff' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23d1edff' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23e8f6ff' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23FFFFFF' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover; */

    /* AZUL OSCURO */
    /* background-color: #009ACC;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.16'%3E%3Cpath fill='%23008cb9' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23007ca4' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%2300698b' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%2300536e' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23003444' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%2300303e' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23002b38' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23002632' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%2300202a' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23001820' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover; */

    /* TRIANGULE */
    /* background-color: #FFFEFE;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Cpath fill='none' stroke-width='49.1' stroke-opacity='0.45' id='a' d='M0-478l-413.96 717h827.92L0-478l-413.96 717h827.92z'/%3E%3C/defs%3E%3Cg transform='scale(0.604)' style='transform-origin:center'%3E%3Cg transform='rotate(90 0 0)' style='transform-origin:center'%3E%3Cg transform='rotate(-89.6 0 0)' style='transform-origin:center'%3E%3Cg transform='translate(1000 750)'%3E%3Cuse stroke='%236553FF' href='%23a' transform='rotate(-44.8 0 0) scale(0.552)'/%3E%3Cuse stroke='%236558ff' href='%23a' transform='rotate(-39.2 0 0) scale(0.608)'/%3E%3Cuse stroke='%23665dff' href='%23a' transform='rotate(-33.6 0 0) scale(0.664)'/%3E%3Cuse stroke='%236662ff' href='%23a' transform='rotate(-28 0 0) scale(0.72)'/%3E%3Cuse stroke='%236767ff' href='%23a' transform='rotate(-22.4 0 0) scale(0.776)'/%3E%3Cuse stroke='%23686cff' href='%23a' transform='rotate(-16.8 0 0) scale(0.832)'/%3E%3Cuse stroke='%236970ff' href='%23a' transform='rotate(-11.2 0 0) scale(0.888)'/%3E%3Cuse stroke='%236b75ff' href='%23a' transform='rotate(-5.6 0 0) scale(0.944)'/%3E%3Cuse stroke='%236d79ff' href='%23a'/%3E%3Cuse stroke='%236f7dff' href='%23a' transform='rotate(5.6 0 0) scale(1.056)'/%3E%3Cuse stroke='%237182ff' href='%23a' transform='rotate(11.2 0 0) scale(1.112)'/%3E%3Cuse stroke='%237386ff' href='%23a' transform='rotate(16.8 0 0) scale(1.168)'/%3E%3Cuse stroke='%23768aff' href='%23a' transform='rotate(22.4 0 0) scale(1.224)'/%3E%3Cuse stroke='%23788eff' href='%23a' transform='rotate(28 0 0) scale(1.28)'/%3E%3Cuse stroke='%237b92ff' href='%23a' transform='rotate(33.6 0 0) scale(1.336)'/%3E%3Cuse stroke='%237e96ff' href='%23a' transform='rotate(39.2 0 0) scale(1.392)'/%3E%3Cuse stroke='%23829aff' href='%23a' transform='rotate(44.8 0 0) scale(1.448)'/%3E%3Cuse stroke='%23859eff' href='%23a' transform='rotate(50.4 0 0) scale(1.504)'/%3E%3Cuse stroke='%2388a2ff' href='%23a' transform='rotate(56 0 0) scale(1.56)'/%3E%3Cuse stroke='%238ca5ff' href='%23a' transform='rotate(61.6 0 0) scale(1.616)'/%3E%3Cuse stroke='%2390a9ff' href='%23a' transform='rotate(67.2 0 0) scale(1.672)'/%3E%3Cuse stroke='%2394adff' href='%23a' transform='rotate(72.8 0 0) scale(1.728)'/%3E%3Cuse stroke='%2398b1ff' href='%23a' transform='rotate(78.4 0 0) scale(1.784)'/%3E%3Cuse stroke='%239cb4ff' href='%23a' transform='rotate(84 0 0) scale(1.84)'/%3E%3Cuse stroke='%23A0B8FF' href='%23a' transform='rotate(89.6 0 0) scale(1.896)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover; */

    /* RECTANGULO */
    /* background-color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect fill='none' stroke-width='109' stroke-opacity='0.23' id='a' x='-400' y='-300' width='800' height='600'/%3E%3C/defs%3E%3Cg style='transform-origin:center'%3E%3Cg transform='rotate(1.8 0 0)' style='transform-origin:center'%3E%3Cg transform='rotate(-160 0 0)' style='transform-origin:center'%3E%3Cg transform='translate(1000 750)'%3E%3Cuse stroke='%239FB3FF' href='%23a' transform='rotate(10 0 0) scale(1.1)'/%3E%3Cuse stroke='%239ab3fd' href='%23a' transform='rotate(20 0 0) scale(1.2)'/%3E%3Cuse stroke='%2396b2fb' href='%23a' transform='rotate(30 0 0) scale(1.3)'/%3E%3Cuse stroke='%2391b2f9' href='%23a' transform='rotate(40 0 0) scale(1.4)'/%3E%3Cuse stroke='%238db1f7' href='%23a' transform='rotate(50 0 0) scale(1.5)'/%3E%3Cuse stroke='%2388b1f5' href='%23a' transform='rotate(60 0 0) scale(1.6)'/%3E%3Cuse stroke='%2383b0f3' href='%23a' transform='rotate(70 0 0) scale(1.7)'/%3E%3Cuse stroke='%237fb0f1' href='%23a' transform='rotate(80 0 0) scale(1.8)'/%3E%3Cuse stroke='%237aafee' href='%23a' transform='rotate(90 0 0) scale(1.9)'/%3E%3Cuse stroke='%2376afec' href='%23a' transform='rotate(100 0 0) scale(2)'/%3E%3Cuse stroke='%2371aeea' href='%23a' transform='rotate(110 0 0) scale(2.1)'/%3E%3Cuse stroke='%236caee8' href='%23a' transform='rotate(120 0 0) scale(2.2)'/%3E%3Cuse stroke='%2368ade6' href='%23a' transform='rotate(130 0 0) scale(2.3)'/%3E%3Cuse stroke='%2363ade4' href='%23a' transform='rotate(140 0 0) scale(2.4)'/%3E%3Cuse stroke='%235face2' href='%23a' transform='rotate(150 0 0) scale(2.5)'/%3E%3Cuse stroke='%235AACE0' href='%23a' transform='rotate(160 0 0) scale(2.6)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover; */

    /* CONSTELACION */
    /*  background-color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='488' height='488' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23989898' stroke-width='2'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23686868'%3E%3Ccircle cx='769' cy='229' r='11'/%3E%3Ccircle cx='539' cy='269' r='11'/%3E%3Ccircle cx='603' cy='493' r='11'/%3E%3Ccircle cx='731' cy='737' r='11'/%3E%3Ccircle cx='520' cy='660' r='11'/%3E%3Ccircle cx='309' cy='538' r='11'/%3E%3Ccircle cx='295' cy='764' r='11'/%3E%3Ccircle cx='40' cy='599' r='11'/%3E%3Ccircle cx='102' cy='382' r='11'/%3E%3Ccircle cx='127' cy='80' r='11'/%3E%3Ccircle cx='370' cy='105' r='11'/%3E%3Ccircle cx='578' cy='42' r='11'/%3E%3Ccircle cx='237' cy='261' r='11'/%3E%3Ccircle cx='390' cy='382' r='11'/%3E%3C/g%3E%3C/svg%3E"); */

    /* DISEÑO CIRCLE */
    /* background-color: #E3E3E3;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Cellipse fill='none' stroke-width='124.6' stroke-opacity='0.41' id='a' rx='600' ry='450'/%3E%3C/defs%3E%3Cg transform='scale(0.757)' style='transform-origin:center'%3E%3Cg style='transform-origin:center'%3E%3Cg transform='rotate(-139.2 0 0)' style='transform-origin:center'%3E%3Cg transform='translate(1000 750)'%3E%3Cuse stroke='%23A3A3A3' href='%23a' transform='rotate(-52.2 0 0) scale(0.478)'/%3E%3Cuse stroke='%23a2a2a2' href='%23a' transform='rotate(-43.5 0 0) scale(0.565)'/%3E%3Cuse stroke='%23a1a1a1' href='%23a' transform='rotate(-34.8 0 0) scale(0.652)'/%3E%3Cuse stroke='%23a1a1a1' href='%23a' transform='rotate(-26.1 0 0) scale(0.739)'/%3E%3Cuse stroke='%23a0a0a0' href='%23a' transform='rotate(-17.4 0 0) scale(0.826)'/%3E%3Cuse stroke='%239f9f9f' href='%23a' transform='rotate(-8.7 0 0) scale(0.913)'/%3E%3Cuse stroke='%239e9e9e' href='%23a' transform=''/%3E%3Cuse stroke='%239e9e9e' href='%23a' transform='rotate(8.7 0 0) scale(1.087)'/%3E%3Cuse stroke='%239d9d9d' href='%23a' transform='rotate(17.4 0 0) scale(1.174)'/%3E%3Cuse stroke='%239c9c9c' href='%23a' transform='rotate(26.1 0 0) scale(1.261)'/%3E%3Cuse stroke='%239b9b9b' href='%23a' transform='rotate(34.8 0 0) scale(1.348)'/%3E%3Cuse stroke='%239a9a9a' href='%23a' transform='rotate(43.5 0 0) scale(1.435)'/%3E%3Cuse stroke='%239a9a9a' href='%23a' transform='rotate(52.2 0 0) scale(1.522)'/%3E%3Cuse stroke='%23999999' href='%23a' transform='rotate(60.9 0 0) scale(1.609)'/%3E%3Cuse stroke='%23989898' href='%23a' transform='rotate(69.6 0 0) scale(1.696)'/%3E%3Cuse stroke='%23979797' href='%23a' transform='rotate(78.3 0 0) scale(1.783)'/%3E%3Cuse stroke='%23979797' href='%23a' transform='rotate(87 0 0) scale(1.87)'/%3E%3Cuse stroke='%23969696' href='%23a' transform='rotate(95.7 0 0) scale(1.957)'/%3E%3Cuse stroke='%23959595' href='%23a' transform='rotate(104.4 0 0) scale(2.044)'/%3E%3Cuse stroke='%23949494' href='%23a' transform='rotate(113.1 0 0) scale(2.131)'/%3E%3Cuse stroke='%23949494' href='%23a' transform='rotate(121.8 0 0) scale(2.218)'/%3E%3Cuse stroke='%23939393' href='%23a' transform='rotate(130.5 0 0) scale(2.305)'/%3E%3Cuse stroke='%23929292' href='%23a' transform='rotate(139.2 0 0) scale(2.392)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover; */

    /* background-color: #8E8E8E;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23E2E2E2'/%3E%3Cstop offset='1' stop-color='%238E8E8E'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%23b8b8b8'/%3E%3Cstop offset='1' stop-color='%238E8E8E'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='translate(2000 0)'%3E%3Cg transform='translate(0 315)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(-162 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.19' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover; */

    /* COLORES TENUES DE ESQUINA GRUESOS */
    /* background-color: #FFC57B;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%236C6C6C' stroke-width='66.7' stroke-opacity='0' %3E%3Ccircle fill='%23FFC57B' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23feb875' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23fcac71' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23fa9f6e' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23f7926d' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23f3866d' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23ee7a6d' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23e76e6f' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23e06271' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23d85774' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23ce4d77' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23c3447a' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23b63b7d' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23a93580' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23993083' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23882d86' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23752b88' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23602A89' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover; */

    /* COLORES TENUES DE ESQUINA SUAVES */
    /* background-color: #DAA96F;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%235A5A5A' stroke-width='66.7' stroke-opacity='0' %3E%3Ccircle fill='%23DAA96F' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23dea26d' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23e19b6c' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23e5946c' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23e78d6e' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23e98670' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23ea7e74' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23ea7879' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23e9717f' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23e76b86' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23e3668e' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23de6196' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23d85e9e' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23cf5ca7' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23c55baf' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23b95cb8' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23aa5dc0' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23985FC8' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover; */

    /* DISEÑO FINAL --- REVISAR DON FELDMAN */
    /* background-color: #D6D6D6;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Cellipse fill='none' stroke-width='56.9' stroke-opacity='0.23' id='a' rx='600' ry='450'/%3E%3C/defs%3E%3Cg transform='scale(0.649)' style='transform-origin:center'%3E%3Cg transform='rotate(180 0 0)' style='transform-origin:center'%3E%3Cg transform='rotate(-160 0 0)' style='transform-origin:center'%3E%3Cg transform='translate(1000 750)'%3E%3Cuse stroke='%2327002B' href='%23a' transform='rotate(-60 0 0) scale(0.4)'/%3E%3Cuse stroke='%23340331' href='%23a' transform='rotate(-50 0 0) scale(0.5)'/%3E%3Cuse stroke='%23420436' href='%23a' transform='rotate(-40 0 0) scale(0.6)'/%3E%3Cuse stroke='%2351063b' href='%23a' transform='rotate(-30 0 0) scale(0.7)'/%3E%3Cuse stroke='%235f093f' href='%23a' transform='rotate(-20 0 0) scale(0.8)'/%3E%3Cuse stroke='%236e0d42' href='%23a' transform='rotate(-10 0 0) scale(0.9)'/%3E%3Cuse stroke='%237c1244' href='%23a'/%3E%3Cuse stroke='%238b1945' href='%23a' transform='rotate(10 0 0) scale(1.1)'/%3E%3Cuse stroke='%23992045' href='%23a' transform='rotate(20 0 0) scale(1.2)'/%3E%3Cuse stroke='%23a62945' href='%23a' transform='rotate(30 0 0) scale(1.3)'/%3E%3Cuse stroke='%23b33244' href='%23a' transform='rotate(40 0 0) scale(1.4)'/%3E%3Cuse stroke='%23c03c42' href='%23a' transform='rotate(50 0 0) scale(1.5)'/%3E%3Cuse stroke='%23cb4740' href='%23a' transform='rotate(60 0 0) scale(1.6)'/%3E%3Cuse stroke='%23d5523c' href='%23a' transform='rotate(70 0 0) scale(1.7)'/%3E%3Cuse stroke='%23df5f39' href='%23a' transform='rotate(80 0 0) scale(1.8)'/%3E%3Cuse stroke='%23e76b34' href='%23a' transform='rotate(90 0 0) scale(1.9)'/%3E%3Cuse stroke='%23ef792f' href='%23a' transform='rotate(100 0 0) scale(2)'/%3E%3Cuse stroke='%23f58729' href='%23a' transform='rotate(110 0 0) scale(2.1)'/%3E%3Cuse stroke='%23fa9522' href='%23a' transform='rotate(120 0 0) scale(2.2)'/%3E%3Cuse stroke='%23fda31a' href='%23a' transform='rotate(130 0 0) scale(2.3)'/%3E%3Cuse stroke='%23ffb210' href='%23a' transform='rotate(140 0 0) scale(2.4)'/%3E%3Cuse stroke='%23ffc106' href='%23a' transform='rotate(150 0 0) scale(2.5)'/%3E%3Cuse stroke='%23FFD000' href='%23a' transform='rotate(160 0 0) scale(2.6)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover; */

    background-color: #D1D1D1;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Cpath fill='none' stroke-width='37.9' stroke-opacity='0.25' id='a' d='M0-478l-413.96 717h827.92L0-478l-413.96 717h827.92z'/%3E%3C/defs%3E%3Cg transform='scale(0.712)' style='transform-origin:center'%3E%3Cg transform='rotate(79.2 0 0)' style='transform-origin:center'%3E%3Cg transform='rotate(-160 0 0)' style='transform-origin:center'%3E%3Cg transform='translate(1000 750)'%3E%3Cuse stroke='%23DB4B9F' href='%23a' transform='rotate(-80 0 0) scale(0.2)'/%3E%3Cuse stroke='%23e44c9b' href='%23a' transform='rotate(-70 0 0) scale(0.3)'/%3E%3Cuse stroke='%23ec4d96' href='%23a' transform='rotate(-60 0 0) scale(0.4)'/%3E%3Cuse stroke='%23f34f91' href='%23a' transform='rotate(-50 0 0) scale(0.5)'/%3E%3Cuse stroke='%23fa528c' href='%23a' transform='rotate(-40 0 0) scale(0.6)'/%3E%3Cuse stroke='%23ff5686' href='%23a' transform='rotate(-30 0 0) scale(0.7)'/%3E%3Cuse stroke='%23ff5a81' href='%23a' transform='rotate(-20 0 0) scale(0.8)'/%3E%3Cuse stroke='%23ff5f7b' href='%23a' transform='rotate(-10 0 0) scale(0.9)'/%3E%3Cuse stroke='%23ff6475' href='%23a'/%3E%3Cuse stroke='%23ff6a6f' href='%23a' transform='rotate(10 0 0) scale(1.1)'/%3E%3Cuse stroke='%23ff706a' href='%23a' transform='rotate(20 0 0) scale(1.2)'/%3E%3Cuse stroke='%23ff7764' href='%23a' transform='rotate(30 0 0) scale(1.3)'/%3E%3Cuse stroke='%23ff7e5e' href='%23a' transform='rotate(40 0 0) scale(1.4)'/%3E%3Cuse stroke='%23ff8558' href='%23a' transform='rotate(50 0 0) scale(1.5)'/%3E%3Cuse stroke='%23ff8d53' href='%23a' transform='rotate(60 0 0) scale(1.6)'/%3E%3Cuse stroke='%23ff944d' href='%23a' transform='rotate(70 0 0) scale(1.7)'/%3E%3Cuse stroke='%23ff9c48' href='%23a' transform='rotate(80 0 0) scale(1.8)'/%3E%3Cuse stroke='%23ffa443' href='%23a' transform='rotate(90 0 0) scale(1.9)'/%3E%3Cuse stroke='%23ffac3e' href='%23a' transform='rotate(100 0 0) scale(2)'/%3E%3Cuse stroke='%23ffb33a' href='%23a' transform='rotate(110 0 0) scale(2.1)'/%3E%3Cuse stroke='%23ffbb36' href='%23a' transform='rotate(120 0 0) scale(2.2)'/%3E%3Cuse stroke='%23ffc333' href='%23a' transform='rotate(130 0 0) scale(2.3)'/%3E%3Cuse stroke='%23ffcb32' href='%23a' transform='rotate(140 0 0) scale(2.4)'/%3E%3Cuse stroke='%23ffd232' href='%23a' transform='rotate(150 0 0) scale(2.5)'/%3E%3Cuse stroke='%23FFDA33' href='%23a' transform='rotate(160 0 0) scale(2.6)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;




    font-size: 14px;
    color: #797979;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: 400;
    width: 100%;
}

/*------------------------------------------------------------------*/
/*   IE10 in Windows 8 and Windows Phone 8 Bug fix
/*-----------------------------------------------------------------*/

@-webkit-viewport {
    width: device-width;
}

@-moz-viewport {
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}


/*
    Page Content
------------------------------------------*/
/*
.page-content, 
section { overflow: hidden; }*/

/*
    On Scroll Animations 
------------------------------------------*/

/*.animated { visibility: hidden; }
.visible { visibility: visible; }*/

/*
    Spacing & Alignment 
------------------------------------------*/

.roomy-100 {
    padding-top: 35px;
    padding-bottom: -10px;
}

.roomy-80 {
    padding-top: 100px;
    padding-bottom: 80px;
}

.roomy-70 {
    padding-top: 100px;
    padding-bottom: 70px;
}

.roomy-60 {
    padding-top: 100px;
    padding-bottom: 60px;
}

.roomy-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.roomy-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

/*estilos iniciales de logo*/

#logo-innova-white {
    max-width: 15%;
    margin-top: 170px;
    transition: opacity 2s;
}

#logo-innova-white::-webkit-scrollbar-button {
    display: none;
    transition: opacity 2s;
}

#logo-innova-black {
    max-width: 15%;
    margin-top: 170px;
    transition: opacity 2s;
}




/*text color*/

.text-muted {}

.text-primary {
    color: #ee997b !important;
    ;
}

.text-finence {
    color: #13A0B2 !important;
    ;
}

.text-mega {
    color: #ee997b !important;
    ;
}

.text-white {
    color: #fff !important;
    ;
}

.text-black {
    color: #000 !important;
}

.text-warning {}

.text-danger {}

.disabled {
    cursor: not-allowed;
}

/*bacground color*/
.bg-light {
    background-color: #f3f3f3;
}

.bg-primary {
    background-color: #1E8BC3;
}

.bg-finence {
    background-color: #13A0B2;
}

.bg-mega {
    background: #000;
}

.bg-grey {
    background-color: #f5f5f5;
}

.bg-black {
    background-color: #212121;
}

.bg-white {
    background-color: #fff;
}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -user-select: none;
    -webkit-user-drag: none;
    -user-drag: none;
}

a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
}

a,
button,
a span {
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

a {
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.btn:focus,
.btn:active {
    outline: inherit;
    background-color: transparent;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

p {
    margin: 0 0 15px;
}

.clear {
    clear: both;
}

img {
    max-width: 100%;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    outline: none;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: transparent;
    background-image: none;
}

.form-control {
    border-radius: 0px;
    border: 1px solid #ccc;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
    width: 100%;
    height: auto;
}

.form-control:focus {
    border-color: #bcefeb;
    outline: 0;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075), 0 0 0px rgba(102, 175, 233, .6);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: #1a1a1a;
    margin-bottom: 10px;
}

h1 {
    font-size: 3rem;
    line-height: 4rem;
}

h2 {
    font-size: 2.5rem;
    line-height: 3rem;
}

h3 {
    font-size: 2.1rem;
    line-height: 2.5rem;
}

h4 {
    font-size: 1.6rem;
    line-height: 2.2rem;
}

h5 {
    font-size: 18px;
    font-weight: 400;
}

h6 {
    font-size: 1rem;
}



h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
p span {
    color: #ee997b;
}

p {
    line-height: 1.5rem;
}

p:last-child {
    margin-bottom: 0px;
}

/*colors*/
.w100 {
    font-weight: 100;
}

.w200 {
    font-weight: 200;
}

.w300 {
    font-weight: 300;
}

.w400 {
    font-weight: 400;
}

.w500 {
    font-weight: 500;
}

.w600 {
    font-weight: 600;
}

.w700 {
    font-weight: 700;
}

.w800 {
    font-weight: 800;
}


/*
Section
*/

.parallax-section {
    max-width: 100%;
    color: #ffffff;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*
.overlay {
    background-color: rgba(51, 51, 51, 0.50);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
} */

.no-padding {
    padding: 0 !important;
    margin: 0 !important;
}

.left-no-padding {
    padding-left: 0 !important;
}

.right-no-padding {
    padding-right: 0 !important;
}

.fluid-blocks-col {
    padding: 70px 40px 0 80px;
}

.fluid-blocks-col-right {
    padding: 70px 80px 0 40px;
}


/*
Separator
*/
.separator_left {
    width: 85px;
    height: 2px;
    margin: 20px 0px;
    background: #000;
}

.separator_auto {
    width: 85px;
    height: 2px;
    margin: 20px auto;
    background: #000;
}

.separator_small {
    width: 30px;
    height: 2px;
    margin: 20px 0px;
    background: #000;
}

/*
Button
*/
.btn {
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    border-radius: 0;
}

.btn:hover {
    color: #fff;
}

.btn-default {
    background-color: transparent;
    color: #000000;
    padding: 0.8rem 2.5rem;
    border-radius: 30px;
    animation: alejar 5s linear infinite alternate;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.btn-default:hover {
    border-color: #ee997b;
    background-color: #ee997b;
}

/* Animación para alejar el botón */
@keyframes alejar {
    0% {
        transform: translateX(0);
        background-color: #FFCC29;
    }

    25% {
        background-color: #AF2040;
    }

    50% {
        background-color: #E9258C;
    }

    75% {
        background-color: #009ACC;
    }

    100% {
        background-color: #00A659;
        transform: translateX(100px);
    }
}

@media (max-width: 768px) {
    .btn-default {
        display: none;
        /* Oculta el botón en pantallas pequeñas */
    }

    .down-arrow {
        display: block;
        /* Muestra la flecha hacia abajo */
        font-size: 24px;
        /* Ajusta el tamaño de la flecha */
        text-align: center;
        /* Centra la flecha */
        margin-top: 10px;
        /* Margen superior */
    }
}


.btn-primary {
    color: #fff;
    background-color: #333;
    border: 1px solid;
    border-color: #333;
    padding: 0.8rem 2.5rem;
    border-radius: 30px;
}

.btn-primary:hover {
    background-color: #ee997b;
    border-color: #ee997b;
    color: #fff;
}

.btn-success {}

.btn-info {}

.btn-warning {}

.btn-danger {}

.btn-link {}



/*
socail icon
--------------------------------*/
/*a i.share{
    color:#1E8BC3;
    -webkit-transition: all .6s;
    transition: all .6s;
}*/


/*
Extra height css
*/
.m-0 {
    margin: 0 !important;
}

.m-top-0 {
    margin-top: 0;
}

.m-r-0 {
    margin-right: 0;
}

.m-l-0 {
    margin-left: 0;
}

.m-l-30 {
    margin-left: 30px;
}

.m-l-40 {
    margin-left: 40px;
}

.m-b-0 {
    margin-bottom: 0;
}

.m-r-15 {
    margin-right: 15px;
}

.m-l-15 {
    margin-left: 15px;
}

.m-top-10 {
    margin-top: 10px;
}

.m-top-20 {
    margin-top: 20px;
}

.m-top-30 {
    margin-top: 30px;
}

.m-top-40 {
    margin-top: 40px;
}

.m-top-50 {
    margin-top: 50px;
}

.m-top-60 {
    margin-top: 60px;
}

.m-top-70 {
    margin-top: 70px;
}

.m-top-80 {
    margin-top: 80px;
}

.m-top-90 {
    margin-top: 90px;
}

.m-top-100 {
    margin-top: 100px;
}

.m-top-110 {
    margin-top: 110px;
}

.m-top-120 {
    margin-top: 120px;
}

.m-top-150 {
    margin-top: 150px;
}

.m-top-180 {
    margin-top: 180px;
}

.m-t-b-80 {
    margin-top: 80px;
    margin-bottom: 80px;
}

.m-t-b-120 {
    margin-top: 120px;
    margin-bottom: 120px;
}

.m-bottom-10 {
    margin-top: 10px;
}

.m-bottom-20 {
    margin-bottom: 20px;
}

.m-bottom-30 {
    margin-bottom: 30px;
}

.m-bottom-40 {
    margin-bottom: 40px;
}

.m-bottom-60 {
    margin-bottom: 60px;
}

.m-bottom-70 {
    margin-bottom: 70px;
}

.m-bottom-80 {
    margin-bottom: 80px;
}

.m-bottom-90 {
    margin-bottom: 90px;
}

.m-bottom-100 {
    margin-bottom: 100px;
}

.m-bottom-110 {
    margin-bottom: 110px;
}

.m-bottom-120 {
    margin-bottom: 120px;
}

.m_t__b {
    margin: 14rem 0;
}

.p_t__b {
    padding: 6rem 0;
}

p-0 {
    padding: 0 !important;
}

.p-l-15 {
    padding-left: 15px;
}

.p-r-15 {
    padding-right: 15px;
}

.p-top-10 {
    padding-top: 10px;
}

.p-top-20 {
    padding-top: 1.33rem;
}

.p-bottom-20 {
    padding-bottom: 1.33rem;
}

.p-top-30 {
    padding-top: 1.875rem;
}

.p-bottom-30 {
    padding-bottom: 1.875rem;
}

.p-top-40 {
    padding-top: 2.66rem;
}

.p-bottom-40 {
    padding-bottom: 2.66rem;
}

.p-top-60 {
    padding-top: 5rem;
}

.p-bottom-60 {
    padding-bottom: 5rem;
}

.p-top-80 {
    padding-top: 5.714rem;
}

.p-bottom-80 {
    padding-bottom: 5.714rem;
}

.p-top-90 {
    padding-top: 6.429rem;
}

.p-bottom-90 {
    padding-bottom: 6.429rem;
}

.p-top-100 {
    padding-top: 100px;
}

.p-bottom-100 {
    padding-bottom: 100px;
}

.p-top-110 {
    padding-top: 110px;
}

.p-bottom-110 {
    padding-bottom: 110px;
}

.p-bottom-0 {
    padding-bottom: 0;
}

.p_l_r {
    padding-left: 5.714rem;
    padding-right: 5.714rem;
}

/*padding*/
.padding-twenty {
    padding: 10px 0;
}

.padding-fourty {
    padding: 20px 0;
}

.padding-sixty {
    padding: 30px 0;
}

.padding-eighty {
    padding: 40px 0;
}

/*border*/
.no-border-top {
    border-top: 0px solid transparent !important;
}

.no-border-rigth {
    border-right: 0px solid transparent !important;
}

/*for placeholder changes*/

input[type="email"].form-control::-webkit-input-placeholder {
    color: #fff;
    background-color: transparent;
}

input::-webkit-input-placeholder {
    color: #cdcdcd;
    font-style: italic;
}

input::-moz-placeholder {
    color: #cdcdcd;
    font-style: italic;
}

input:-ms-input-placeholder {
    color: #cdcdcd;
    font-style: italic;
}

input::placeholder {
    color: #cdcdcd;
    font-style: italic;
}

input::-webkit-input-placeholder {
    color: #cdcdcd;
    font-style: italic;
}

input::-moz-placeholder {
    color: #cdcdcd;
    font-style: italic;
}

input::-ms-input-placeholder {
    color: #cdcdcd;
    font-style: italic;
}

textarea::-webkit-input-placeholder {
    color: #cdcdcd;
    font-style: italic;
    padding: 5px;
}

textarea::-moz-input-placeholder {
    color: #cdcdcd;
    font-style: italic;
    padding: 5px;
}

textarea::-ms-input-placeholder {
    color: #cdcdcd;
    font-style: italic;
    padding: 5px;
}

/*for image bg*/
/*.img-bg{
  background: url(../images/home-msg.jpg) no-repeat center top fixed;
  background-size
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  overflow: hidden;
}*/


.transform_scal_rotate:hover img {
    -webkit-transform: scale(1.1) rotate(4deg);
    transform: scale(1.1) rotate(4deg);
}

.culmn {
    width: 100%;
    overflow: hidden;
}

.head_title {
    overflow: hidden;

}




.head_title h2 {
    font-weight: bold;
    font-size: 2.286rem;
    color: #1a1a1a;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #1a1a1a;
    animation: escribir 5s steps(30) forwards,
        parpadeo 0.75s step-end infinite,
        borrar 2s forwards 5s,
        escribir 5s steps(30) forwards 12s,
        parpadeo 0.75s step-end infinite 17s;

}

@keyframes escribir {
    0% {
        width: 0;
    }

    90% {
        width: 100%;
    }

    95% {
        width: 100%;
    }

    100% {
        width: 100%;
    }
}

@keyframes borrar {
    0% {
        width: 100%;
    }

    90% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}

@keyframes parpadeo {

    0%,
    100% {
        border-color: transparent;
    }

    50% {
        border-color: #1a1a1a;
    }
}




.head_title p {
    font-weight: 400;
    font-size: 1rem;
    color: #4a4a4a;
}

/*End off pridifain css*/


/*Preloader css*/
#loading {
    background-color: #ee997b;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    margin-top: 0px;
    top: 0px;
    z-index: 90;
}

#loading-center {
    width: 100%;
    height: 100%;
    position: relative;
}

#loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 50px;
    width: 150px;
    margin-top: -25px;
    margin-left: -75px;
}

.object {
    width: 8px;
    height: 50px;
    margin-right: 5px;
    background-color: #FFF;
    -webkit-animation: animate 1s infinite;
    animation: animate 1s infinite;
    float: left;
}

.object:last-child {
    margin-right: 0px;
}

.object:nth-child(10) {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

.object:nth-child(9) {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.object:nth-child(8) {
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

.object:nth-child(7) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.object:nth-child(6) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.object:nth-child(5) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.object:nth-child(4) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.object:nth-child(3) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.object:nth-child(2) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

@-webkit-keyframes animate {

    50% {
        -ms-transform: translateX(-25px) scaleY(0.5);
        -webkit-transform: translateX(-25px) scaleY(0.5);
        transform: translateX(-25px) scaleY(0.5);

    }

}

@keyframes animate {
    50% {
        -ms-transform: translateX(-25px) scaleY(0.5);
        -webkit-transform: translateX(-25px) scaleY(0.5);
        transform: translateX(-25px) scaleY(0.5);
    }

}

/*End off Preloader*/


/*
Nav Menu style
==================*/

.navbar-brand {
    margin-top: -200px;
    padding: 30px 15px;
}

.navbar-nav>li>a {
    padding-top: 30px;
    padding-bottom: 30px;
}

.attr-nav>ul>li>a {
    padding: 30px 15px;
}

.cart-list li h6 a {
    color: #000;
}

.btn-cart {
    background-color: #ee997b;
    padding: 2px 10px;
    color: #fff !important;
    border: 0px solid;
    display: inline-block;
}

.btn-cart:hover {
    border: 0px solid;
    background-color: #ff7854 !important;
}


/*All Banner style*/
.service-banner,
.model-banner,
.contact-banner,
.about-banner,
.blog-banner,
.home {
    background-size: cover;
    height: 630px;
    position: relative;
}

.home {
    background: source(../videos/innova_intro.mp4) no-repeat top center;
}

.service-banner {
    background: url(../images/background/services-bg.jpg) no-repeat bottom center;
}

.model-banner {
    background: url(../images/background/model-bg.jpg) no-repeat bottom center;
}

.contact-banner {
    background: url(../images/background/contact-bg.jpg) no-repeat bottom center;
}

.about-banner {
    background: url(../images/background/about-bg.jpg) no-repeat bottom center;
}

.blog-banner {
    background: url(../images/background/blog-bg.jpg) no-repeat bottom center;
}


@media (min-width: 769px) and (max-width: 1024px) {
    .home {
        height: 1120px !important;
    }
}



/*
Home Section style
==================*/


.main_home {
    overflow: hidden;
    padding-top: 430px;
    padding-bottom: 230px;
    width: 100%;
    position: relative;
    z-index: 1;
}

.home_text h1 {
    font-size: 4.286rem;
    font-weight: 700;
    line-height: 6.5rem;
}

.home_text h5 {
    font-size: 18px;
    font-weight: 400;
    width: 70%;
    margin: 0px auto;
    line-height: 2rem;
}

.feature_content {
    color: #000;
}


.main_feature {
    margin-top: 70px;
}


/*
About section style
====================*/
/* .main_feature {
    width: 100%;
}

.feature_content {}

.feature_photo {
    position: relative;
}

.feature_img img {
    width: 100%;
}

.photo_border {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 5%;
    top: 5%;
    border: 10px solid #c9c9c9;

}


.counter_item h2 {
    font-size: 60px;
    font-style: italic;

}

.counter_item h5 {}

.counter_item .separator_small {
    margin: 20px auto;
} */



#hello {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.video-background {
    position: absolute;
    top: -10px;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.video-background iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
    pointer-events: none;
}






/*Work Section
=====================================*/

.main_work {}

.work_item {
    position: relative;
    top: -40px;
}

.work_item_img img {
    width: 100%;
}

.work_item_details {
    position: relative;
}

.work_separator1:before {
    content: "";
    position: absolute;
    right: -40%;
    top: 43%;
    width: 180px;
    height: 1px;
    background-color: #ee997b;
    z-index: 1;
}

.work_separator2:before {
    content: "";
    position: absolute;
    left: -40%;
    top: 43%;
    width: 180px;
    height: 1px;
    background-color: #ee997b;
    z-index: 1;
}


/*========================================================================
                gallery Section Style
==========================================================================*/
.gallery {
    overflow: hidden;
}

/* ---- button ---- */

.main-gallery .button {
    display: inline-block;
    margin: 0rem 0.25rem;
    margin-bottom: 10px;
    background: transparent;
    border: none;
    border-radius: 0px;
    color: #000;
    font-size: 14px;
    outline: none;
    border-bottom: 1px dotted #333;
    font-weight: 400;
}

.main-gallery .button:focus,
.main-gallery .button:active:focus,
.main-gallery .button.active:focus,
.main-gallery .button.focus,
.main-gallery .button:active.focus,
.main-gallery .button.active.focus {
    outline: 0;
    outline-offset: 0;
}

.main-gallery .button:hover {
    color: #ee997b;
}

.main-gallery .button:active,
.main-gallery .button.is-checked {
    color: #ee997b;
}

.main-gallery .button.is-checked {
    color: #ee997b;
    border-bottom: 1px dotted transparent;
}


/* ---- isotope ---- */

.main-gallery .grid {
    margin: 0;
    padding: 0;
}

/* clear fix */

.main-gallery .grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- .grid-item ---- */

.main-gallery .grid-item {
    position: relative;
    margin: 5px;
    width: 372px;
    overflow: hidden;
}

.main-gallery .grid-item img {
    width: 100%;
    height: 100%;
    transition: all 0.6s;

}

.main-gallery .grid-item:hover img {
    transform: scale(1.1);
}

.main-gallery .grid-item:hover .grid_hover_area {
    opacity: 1;
}

.main-gallery .grid_hover_area {
    background-color: rgba(7, 8, 10, 0.50);
    height: 100%;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 0%;
    left: 0%;
    width: 100%;
    transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
}

.main-gallery .grid_hover_area .btn {
    padding: 0.5rem 1rem;
}

.main-gallery .grid_hover_text a {
    display: block;
}




/*
service section style
========================*/

.service_items {
    margin: 40px 0;
}

.service_items .hexagon i,
.service_items .hexagon span {
    position: relative;
    width: 70px;
    height: 70px;
    background-color: #ee997b;
    margin: 0;
    line-height: 70px;
    font-size: 2rem;
    color: #fff;
    border-radius: 50%;
}

.service_items .about-content {
    width: 100%;
    position: absolute;
    z-index: 22;
    line-height: 3.2rem;
    text-align: center;
}

.service_items .about-content span.icon {
    font-size: 1.5rem;
    color: #fff;
}

.service_right_text h4,
.service_left_text h4 {
    font-weight: 400;
    font-size: 16px;
}

.service_right_text p,
.service_left_text p {
    font-size: 14px;
    font-weight: 400;
}



/*
Testimonial Section style
=======================*/
.testimonial {
    position: relative;
}

.main_testimonial {
    position: relative;
    z-index: 1;
}

.main_testimonial .testimonial_item h6 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}

.main_testimonial .testimonial_item p {
    font-size: 14px;
    width: 80%;
    margin: 20px auto;
}

.main_testimonial .carousel-control {
    width: 45px;
    height: 45px;
    line-height: 42px;
    text-align: center;
    color: #999;
    cursor: pointer;
    position: relative;
    background-image: none;
    display: inline-block;
    font-size: 14px;
}

.main_testimonial .carousel-control.left,
.main_testimonial .carousel-control.right {
    box-shadow: 0px 0px 0px;
    opacity: 1;
}

.main_testimonial .slash {
    font-size: 2rem;
    color: #ddd;
    height: 45px;
    bottom: -5px;
    display: inline-block;
    position: relative;
}

.test_authour img {
    margin: 0px auto;
}


/*
Brand Section style
=====================*/
.main_cbrand {
    overflow: hidden;
    width: 100%;
}

.cbrand_item {
    height: 100px;
    overflow: hidden;
}

.cbrand_item img {
    width: 50%;
    opacity: 0.7;
    transition: all 0.6s;
}

.cbrand_item img:hover {
    opacity: 1;
}

.cbrand_item img.img_apple {
    width: 25%;
    padding: 10px;
}


/*
Models Section style
=====================*/

.main_models {}

.model_item {}

.model_img {
    position: relative;
    overflow: hidden;
}

.model_img:hover .model_caption {
    bottom: 0;
}

.model_img img {
    width: 100%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.model_img:hover img {
    width: 100%;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.model_caption {
    background-color: #333;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -60px;
    transition: all 0.6s;
}

.model_caption h5 {
    padding: 15px;
}

.meet_team {
    background-color: #fff;
    width: 100%;
    height: 100%;
}

.meet_team a {
    padding: 120px 0px;
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    color: #000;
}





/*
Contact Section style
=====================*/

.main_contact {
    overflow: hidden;
}

.main_contact a.btn {
    /*width:100%;*/
}

.widget_socail {}

.widget_socail ul li a i {
    background-color: #434343;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
    transition: all 0.4s;
}

.widget_socail ul li a:hover i {
    background-color: #ee997b;
}


/*
Footer Section style
=====================*/

footer {
    background-color: #000;
}

.main_footer {
    overflow: hidden;
    color: #000;
}

.main_footer i {
    padding: 0px 5px;
    color: white;
}

.main_footer p a {
    padding: 5px;
}

.main_footer p a,
.main_footer li a {
    color: #000;
}


@media (max-width: 768px) {
    .social-buttons {
        justify-content: center;
    }
}





/* scrollup */

.scrollup {
    width: 40px;
    height: 40px;
    border-radius: 15px;
    opacity: .3;
    position: fixed;
    bottom: 20px;
    left: 25px;
    color: #fff;
    cursor: pointer;
    background-color: #000;
    z-index: 1000;
    transition: opacity .5s, background-color .5s;
    -moz-transition: opacity .5s, background-color .5s;
    -webkit-transition: opacity .5s, background-color .5s;
}

.scrollup:hover {
    background: #ee997b;
    opacity: 1;
}

.scrollup i {
    font-size: 13px;
    position: absolute;
    opacity: 1;
    color: #fff;
    left: 50%;
    top: 50%;
    margin-top: -7px;
    margin-left: -6px;
    text-decoration: none;

}




/*
==================================================
            About Us Page
==================================================
*/


/*About home
============================*/
.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: transparent;
    border-radius: 0px;
}

.breadcrumb li a {
    font-size: 16px;
    color: #fff;
}

/*About Feature section
===============================*/
.sv_feature_item img,
.ab_feature_item img {
    width: 100%;
}


/*Teams Feature section
===============================*/

.main_teams {}

.team_item:hover .team_img img {
    transform: scale(1.1);
}

.team_img {
    position: relative;
    overflow: hidden;
}

.team_img img {
    width: 100%;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;

}

.team_caption {
    width: 80%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.55);
    padding: 1rem;
}

.team_caption h4 {
    font-size: 16px;

}

.team_caption h4,
.team_caption h5 {
    margin-bottom: 5px;
    line-height: 1.5rem;
}





/*
==================================================
            Service Page
==================================================
*/


.main_service {}

.sv_service_item {}

.sv_service_item h4 i {
    margin-right: 20px;
}



/*Pricing Table*/
.pricing_item {
    border: 1px solid #ddd;
    padding: 30px;
}

.pricing_item h3 span {
    font-size: 50px;
    font-weight: 700;
    color: #000;
}

.pricing_item h3 sup {
    font-size: 45px;
    font-weight: 700;
}

.pricing_head p {
    letter-spacing: 4px;
    font-weight: 700;
    color: #000;
}

.pricing_item li,
.pricing_item p {
    font-size: 14px;
}

.pricing_item li {
    font-size: 14px;
    line-height: 2rem;
}


/*
==================================================
           Contact Us Page
==================================================
*/

.action_item {}

.action_item i {
    width: 70px;
    height: 70px;
    line-height: 70px;
    background-color: #f3f3f3;
    color: #000;
    font-size: 2rem;
    border: 1px solid #ddd;
    border-radius: 50%;
}


/*our Maps*/
.ourmap {
    height: 550px;
    width: 100%;
}



/*
==================================================
           Our Model Page
==================================================
*/


.main-model .model-item {
    width: 270px;
    margin: 10px;
    position: relative;
}

.main-model .model-item .btn-default {
    position: absolute;
    left: 50%;
    top: 35%;
    margin-left: -80px;
    color: #fff;
    border-color: #fff;
    opacity: 0;
}

.main-model .model-item:hover .btn-default {
    opacity: 1;
}

/*
==================================================
          Model Details Page
==================================================
*/

/* Skill bar*/

.teamskillbar {
    position: relative;
    display: block;
    margin-bottom: 15px;
    width: 100%;
    background: #e1e1e1;
    height: 4px;
    -webkit-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    transition-property: width, background-color;
}

.teamskillbar h6 {
    position: absolute;
    top: -25px;
    left: 0;
    width: 100%;
}

.teamskillbar h6.one {
    width: 63%;
}

.teamskillbar h6.two {
    width: 75%;
}

.teamskillbar h6.three {
    width: 88%;
}

.teamskillbar h6.foure {
    width: 76%;
}

.teamskillbar-bar {
    height: 2px;
    width: 0px;
    background: #000000;
    position: absolute;
    left: 1px;
    top: 1px;
}






/*========================================================
        Blog Page
==========================================================*/

.main_blog_fashion {}

.blog_fashion_left {}

.blog_fashion_img img {
    width: 100%;
}

.blog_fashion_content {
    padding: 10px 0px;
    background-color: #fff;
    width: 90%;
    position: relative;
    top: -80px;
}

.blog_item .breadcrumb,
.blog_fashion_content .breadcrumb {
    padding: 8px 0px;
    margin-bottom: 0px;
}


.blog_fashion_right {}

.fashion_test {
    background-color: #f3f3f3;
    padding: 40px 20px 55px 20px;
}

.fashion_test img.img-circle {
    width: 125px;
    height: 125px;
    margin: 0px auto;
}

.fashion_praspect {
    -webkit-perspective: 12500px;
    perspective: 1200px;
}

.fashion_praspect_inner {
    padding: 30px 40px 50px 20px;
    transition: .3s;
    transform: rotateY(25deg);
}




/*Blog section*/
.blog_area {
    width: 100%;
}

.blog_item .breadcrumb li a {
    font-size: 14px;
    color: #666666;
}

.blog_item h5 {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
}




/*
======================================================
Blog Details Page
======================================================
*/
.blog_details_content {}

.blog_details_head {}

.blog_details_head .blog_date {
    float: left;
    width: 50px;
    margin-right: 20px;
}

.blog_details_head .blog_date span {
    background-color: #ee997b;
    color: #fff;
    text-align: center;
    width: 100%;
    height: 35px;
    display: inline-block;
    margin-top: 1px;
    padding: 7px;
}

.blog_details_head .head_text {
    display: inline-block;
}

.socail_share {}

.socail_share ul li a {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    line-height: 30px;
    text-align: center;
    color: #000;
    display: inline-block;
}

.socail_share ul li a:hover {
    color: #fff;
    background-color: #ee997b;
}



/*command*/

.blog_comments_img img {
    width: 80px;
    height: 80px;
}

.comments_top_tex h5 {
    font-size: 16px;
    font-weight: 700;
}

.comments_top_tex a {
    color: #999;
}

.comments_top_tex a i {
    color: #000;
    margin-right: 5px;
}




/*Live chate*/


.live_chate textarea.form-control {
    height: auto;
}





/*Said Baarea*/

.said_ctg {}

.said_socail h6,
.said_arc h6,
.said_post h6,
.said_ctg h6 {
    font-weight: 700;
    font-size: 16px;
}

.said_arc ul li,
.said_ctg ul li {
    line-height: 2rem;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.said_arc ul li a,
.said_ctg ul li a {
    color: #999;
    font-size: 12px;
}

.said_post {}

.said_post .post_item {
    width: 100%;
    display: block;
    overflow: hidden;
    margin-top: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.said_post .post_item .item_img {
    width: 20%;
    float: left;
    margin-right: 5%;
    display: inline-block;

}

.said_post .post_item .item_text {
    display: inline-block;
    width: 70%;
}

.socail_item {
    float: left;
    width: 30.5%;
    margin: 5px;
}

.socail_item img {
    width: 100%;
}