.container-vallatruck {
    position: relative;
    width: 100%;
    height: 200px; 
    background-color: transparent;
    opacity: 1;
}

.valla {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%); 
    width: 200px; 
    height: 100px;
    display: block; 
}

.camion img {
    position: absolute;
    bottom: 0;
    top: 125px;
    left: -100px; 
    width: 100px; 
    height: 100px;
    z-index: 21; 
    animation: moverCamion 14s infinite; 
}

@keyframes moverCamion {
    0% {
        left: -100px; 
    }
    70% {
        left: calc(50% - 100px); 
    }
    80% {
        left: calc(48% - 100px);
    }
    100% {
        left: 100%;
    }
}

@media (max-width: 768px) {
    .valla {
        width: 150px; 
        height: 80px; 
        margin-top: 40px !important;
    }

    .camion img {
        width: 80px; 
        height: 80px; 
        top: 115px; 
    }

    .container-vallatruck {
        height: 180px; 
    }
}

/* Responsivo: para pantallas muy pequeñas (móviles) */
@media (max-width: 480px) {
    .valla {
        width: 120px;
        height: 60px; 
    }

    .camion img {
        width: 60px; 
        height: 60px; 
        top: 110px; 
    }

    .container-vallatruck {
        height: 160px;
    }
}
