.container-vallatruck {
    position: relative;
    width: 100%;
    height: 200px; 
    background-color: transparent;

    opacity: 1;
}
.valla {
    position: absolute;
    top: 15px;
    left: 43%; 
    width: 200px; 
    height: 100px;
    display: none; 
}
.camion img{
    position: absolute;
    bottom: 0;
    top: 125px;
    left: -100px; 
    width: 100px; 
    height: 100px;
    z-index: 21; 
    animation: moverCamion 10s forwards; 
}

@keyframes moverCamion {
    0% {
        left: -100px; 
    }
    70% {
        left: calc(50% - 100px); 
    }
    80% {
        left: calc(48% - 100px);
    }
    100% {
        left: 100%;
    }
}